input{
    border-radius: 10px;
    border: 1px white;
    width: 120px;
    height: 1.2rem;
    align-items: center;

    
}

@media screen and (max-width:585px){
    
    input{
        display: none;
    }

}



